<%= form_for @group do |f| %>


    <div class="form-group">
        <%= f.label "title", :class => "control-label" %>
        <%= f.text_field :title, :class => "form-control" %>
    </div>

    <div class="form-group string optional">
        <%= f.label "description", :class => "control-label" %>
        <%= f.text_area :description, :class => "form-control" %>
    </div>

<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
